.bold, .italic{
    -fx-background-color: #BABCC1;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

 .bold:hover, .italic:hover {
    -fx-background-color: #7E7F81;
}

.cancel {
    -fx-background-color: #E6B9FF;
}

.cancel:hover {
    -fx-background-color: #FFB198;
}

.submit {
    -fx-background-color: #72FC53;
}

.submit:hover {
    -fx-background-color: #58C63F;
}