.menuBar {
    -fx-background-color: #FDE4A6;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 0px 1px;
}

.buttonLayout {
    -fx-border-color: black;
    -fx-border-width: 0px 1px 1px 1px;
    -fx-background-color: #FDE4A6;
    /*orange: #FFDD88 //#434A7E*/
}

.mainPane {
    -fx-background-color: #5B6192;
    /*#434A7E Blue//#FFDD88*/
}

.comicStrip {
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-width: 3px;
}


.bold {
    -fx-background-color: #B7A8C0;
    -fx-font-weight: bold;
}

.italic {
    -fx-background-color: #B7A8C0;
    -fx-font-style: italic;
}

 .bold:hover, .italic:hover {
    -fx-background-color: #A974C9; /*AD86C5*/
}

.escape {
    -fx-background-color: #B7A8C0;
}

.escape:hover {
    -fx-background-color: #FF3D3D;
}

.submit {
    -fx-background-color: #98FF81;
}

.submit:hover {
    -fx-background-color: #3FFF13; /*#58C63F;*/
}

.cancel {
    -fx-background-color: #FF6060;
}

.cancel:hover {
    -fx-background-color: #FF3D3D;
}

.bubbles {
    -fx-background-color: #FDE4A6; /*BLUE CLOUD BACKGROUNDS: #B9EBFF*/
    -fx-border-color: black;
    -fx-border-width: 1px;
}


.bubbleGrid {
    -fx-background-color: #B7A8C0; /*PURPLE BORDER STAGE: #E6B9FF*/
    -fx-border-color: black;
    -fx-border-width: 1px;
}


/*THIS IS THE CONTENT STYLING*/
.helpPane {
    -fx-background-color: white;
    -fx-font-family: helvetica;
    -fx-font-size: 18;
}

/*this is the tab styling*/
.helpTab {
    -fx-alignment: CENTER;
    -fx-background-color: #F9F9F9;
    -fx-font-family: georgia;
    -fx-font-size: 15;
}

.helpTab:selected {
    -fx-background-color: white;
}

/*SETS THE SCROLLPANE BACKGROUND FOR THE HELP WINDOW*/
.contentPane > .viewport {
   -fx-background-color: white;
}

.contentPane {
   -fx-background-color: white;
}


/*makes background of the tabs light pink*/
.tab-pane>*.tab-header-area>*.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #FFF7F7;
    -fx-border-color: #FFF7F7;
}

/* When Tab is selected, select its border and modify the style */
/*KEEP EVERYTHING 0 SO DONT HAVE THE BLUE SQUARE OR ANY OTHER SQUARE AND JUST CHANGE COLOR WHEN SELECTED*/
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 0px 0px 0px 0px;
}

/*border colour around the tabs, its light pink so it seperates the tabs but blends into the whole content*/
.tab-pane>*.tab-header-area>*.headers-region {
    -fx-background-color: #FFF7F7;

}

/*FOR CAPTION MODAL*/
.layoutGrid{
    -fx-background-color:  #B7A8C0; /*PURPLE BORDER STAGE: #E6B9FF*/
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.bottomTextCaption {
    -fx-background-color: #AF86C8; /*755A85*/
}

.topTextCaption {
    -fx-background-color: #755A85;
}

.topTextCaption: hover, .bottomTextCaption: hover {
    -fx-background-color: #9470A9;
}

.capTextField {
    -fx-padding: 10;
}

.tester {
    -fx-background-image: url("../images/backgrounds/basic_Background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 500 400;
    -fx-background-position: center center;
}


/*HTML POPUP*/
.popUpLayout {
     -fx-background-color:  #B8A6FD; /*Orange: #FDE4A6, better blue: #A6ACFD or #A6B2FD*/
     -fx-border-color: black;
     -fx-border-width: 1px;
     -fx-padding: 5;

}

.popUpPrompt {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-family: helvetica;
    -fx-font-size: 18;
}

.popUpCancel {
    -fx-background-color: #FF6060;/*#FFA1A1;*/
}

.popUpCancel:hover {
    -fx-background-color: #FF3D3D;

}

.popUpNext {
    -fx-background-color: #98FF81; /*#B5FFA1;*/
}

.popUpNext:hover {
    -fx-background-color: #3FFF13;   /*#A8ED95;*/
}

